* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato","Arial",sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
   
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.box {
    padding: 1%;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/hero-image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

h1 {
    margin: 0;
    font-weight: 300;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.logo {
    height: 100px;
    float: left;
    width: auto;
    border-radius: 500px;
    margin-top: 10px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}

.main-nav li a {
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

.btn {
    width: 140px;
    display: block;
    border-radius: 500px;
    padding: 5px;
    text-decoration: none;
    font-size: 90%;
    text-align: center;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: 300;
}

.btn-full:link,
.btn-full:visited {
    background-color: #05531a;
    border: 2px solid #05531a;
    color: #fff;
    transition: background-color 0.2s border 0.2s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #044014;
    border: 2px solid #044014;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #05531a;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #05531a;
    color: #fff;
    background-color: #05531a;
}

.top a:link,
.top a:visited {
    transition: border-bottom 0.2s;
    padding-bottom: 10px;
}

.top a:hover,
.top a:active {
    border-bottom: 2px solid #044014;
}





.section-styles {
    background-color: #fff;
}

.style {
    padding: 1%;
}

.style img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}

section {
    padding-top: 80px;
}

.style p {
    text-align: center;
    color: #044014;
    font-weight: 400;
}

h2:after {
    display: block;
    content: "";
    background-color: #05531a;
    height: 2px;
    width: 150px;
    margin: 10px auto;
}

h2 {
    text-align: center;
}

.style-para {
    font-weight: 300;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    
}

.style-para span {
    font-weight: 400;
    line-height: 200%;
    margin: 0 35%;
    width: 30%;
    color: #05531a;
}