{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deluxe Package</title>

    <link rel="stylesheet" type="text/css" href=" {% static 'resources/css/pop.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'vendors/css/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/ionicons.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="row">
        {% for collect in coll%}
        <div class="col span-1-of-3 style">
            <img src="{{collect.img.url}}" alt="the song picture">
            <p> TRIP : {{collect.name}} </p>
            <p> PACKAGE: {{collect.artist}} </p>
        </div>
        {% endfor %}

    </div>
</body>
</html>